
header{
    display:float;
    background-color: black;
    height: 60px;
}

h1{
    color: blueviolet;
    
    padding-top:10px;
    
    margin-top: 0px;
    float:  left;
    width: 25%;
}
.top{
    background-color: brown;
}
ul,
ol{

    list-style: none;
}
a
{
text-decoration: aqua;
color: navy;

}
nav li{

  display:inline-block;
  margin-right:15px;
  padding: 5px;
    margin-top: 15px;
}
#container{
    max-width: width auto;
    background-color:brown;
    padding: 40px;
    height: 510px;

    

}
#footer{
background-color: black;
color: white;
text-align: center;
height: 150px;




}


#left section{
    border: 2px;
    float: left;
    width:30%;

}

#nav{
    background-color: red;
}
